/*честно сказать мне легче было начать с полной картины страницы, а после добавлять корректировки*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.page{
    /*
    display: flex;
    flex-direction: column;
    */
    font-family: TTlakes;
    src:url(/fonts/TTLakes-Bold.ttf) format('truetype');
    background:#f8f8f8;
    color:rgb(0, 0, 0);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    background-color: white;
}

.header_left,
.header_right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_divider{
    width: 2px;
    height: 24px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

.services{
    padding: 24px;
}

.services_heading{
    display: flex;
    gap: 16px;
}

.services_accent{
    width: 4px;
    height: 40px;
    border-radius: 2px;
    background-color: #41F6D7;
}

.services_title{
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    font-weight: 700;
}

.services_actions--desktop{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    gap: 16px;
    margin-top: auto;
}

.slideMenu{
display:flex;
justify-content:space-between;
align-items:center;
margin: 30px 0;
gap: 16px;
}

span.slideMenu{
    display: block;
    padding: 12px 16px;
    border-radius: 8px;
    color: black;
    font-weight: 500;
    block-size: fit-content;
}

span.slideMenu:hover{
border:2px solid #b8ffec;
border-radius:6px;
background:#fff;
}

.services__content{
display:flex;
gap:36px;
}

.services_content-text{
    flex:1;
    line-height:1.6;
}

.services_content-text p{
    margin-bottom: 16px;
}

.services_content-readMore{
background:none;
border:none;
font-weight:700;
cursor:pointer;
}

.services__image{
flex:1;
}

.services__image img{
width:100%;
display:block;
border-radius:8px;
}

@media (max-width:767px){

.header__button--tablet,
.header__right,
.header__divider--tablet,
.services__actions{
display:none;
}

@media (min-width:1120px){

.header{
  background:#f8f8f8;
}

}